$white-color: #ffffff;
$blue-color: #20A1D4;
$green-color: #1CBC2C;
$orange-color: #EF5F3C;
$black-color: #424242;
$grey-color: #777;
$light-grey-color: #eaeaea;
$transition: .7s;

$border-radius: 5px;
$border: 1.6px solid $light-grey-color;

a {
  text-decoration: none;
}
.text-orange {
  color: $orange-color;
}

.text-blue {
  color: $blue-color;
}

.donations {
  font-family: 'Noto Sans', sans-serif;
  color: $grey-color;
  font-size: 1rem;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  max-width: 95%;
  overflow-x: hidden;
  line-height: 1.5;
  transition: $transition;

  .donations__message {
    position: relative;
    background-color: $black-color;
    text-align: center;
    padding:  .3rem 0;
    color: $white-color;
    border-radius: $border-radius;
  }

  .donations_marker {
    display: block;
    position: relative;
    width: 0;
    height: 0; 
    top: -6px;
    margin-bottom: 5px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 18px solid $black-color;
    
  }

  .donations__section {
    border: $border;
    .donations__section__progressbar {
      height: 20px;
      width: 100%;
      border-bottom: 1.6px solid $light-grey-color;

      &:first-child div {
        max-width: 100%;
        background-color: $orange-color;
        height: 100%;
      }
    }
  
    .donations__section__wrapper {
      padding: 1rem;
  
      .donations__section__wrapper__form {
        display: flex;
        margin: 1rem 0;
        gap: 1.5rem;
        .donations__section__wrapper__form__number, 
        .donations__section__wrapper__form__submit {
          display: block;
          box-sizing: border-box;
          font-size: 1.1rem;
          padding: 1.5rem 0;
          border-radius: $border-radius;
          border: $border;
          width: 100%;

        }
        .donations__section__wrapper__form__number {
          padding-left: 1rem;
        }

        .donations__section__wrapper__form__number::-webkit-inner-spin-button { 
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; 
          display: none;
        }
  
        .donations__section__wrapper__form__submit {
          background-color: $green-color;
          color: $white-color;
          text-align: center;

          &:active {
            background-color: $orange-color;
          }
          &:disabled {
            background-color: $light-grey-color;
          }
          &:hover {
            opacity: .9;
          }
        }
      }
    }

    
  }

  .donations__btns {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.5rem;
    button {
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      font-weight: bold;
      background-color: #FAFAFA;
      border: $border;
      padding: 1rem 0;
      width:100%;
      border-radius: $border-radius;
      transition: $transition;
      
      &:hover {
        background-color: $grey-color;
        color: $white-color;
        transition: $transition;
      }
    }
  }
}

@media (min-width: 768px) {
  .donations {
    font-size: 1.3rem;

    .donations__section {
      .donations__section__wrapper {
        padding: .8rem 2rem 1.8rem 2rem;

        .donations__section__wrapper__form {
          .donations__section__wrapper__form__number, .donations__section__wrapper__form__submit {
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}